/**
 * @author lulongwen
 * Date: 2023-08-12 08:19
 * Description:
 */

.rc-footer-container {
  padding-block: 16px;
  padding-inline: 16px;
}

.rc-footer-bottom-container {
  font-size: 12px;
}

.markdown {
  margin-bottom: 40px;
  font-size: 15px;
}

.ant-alert-message {
  font-size: 1em;
  font-weight: 800;
}
